# Generic R files to ignore
.Rproj.user
inst/doc
doc
Meta
.Rhistory

# Raw EBMT files remove from git
data-raw/*.sav
data-raw/*.Rdata

# Remove 'full' simulation data - take too much space
data/*full.fst

# Remove processed MDS data
data/dat-mds.fst
data/dat-mds_admin-cens.fst
docs
